body {
	background: linear-gradient(to right, #9dc183ff, #9dc183d4);
}

p {
	margin-top: 12%;
	margin-bottom: 5%;
	font-size: 35px;
}

input {
	display: block;
	margin: 0 auto;
	font-size: 30px;
	line-height: 50px;
	width: 35%;
	background-color: #84a283;
	border: inset 3px #623c51;
}

p, input {
	text-align: center;
	font-family: Meiryo, Yu Gothic, MS Gothic, Yu Mincho;
	font-weight: bold;
	letter-spacing: 1px;
}

