body {
	background: #9dc183d4;
}

p {
	text-align: center;
	margin-top: 12%;
	margin-bottom: 5%;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 1px;
}


input {
	display: block;
	margin: 0 auto;
	font-size: 30px;
	line-height: 50px;
	width: 35%;
	text-align:center;
	background-color: #84a283;
	border: inset 3px #623c51;
	font-family: Meiryo, Yu Gothic, MS Gothic, Yu Mincho;
	font-weight: bold;
	letter-spacing: 1px;
} 



