* {
	font-family: Meiryo, Yu Gothic, MS Gothic, Yu Mincho;
}

body {
	background: linear-gradient(to right, #9dc183ff, #9dc183d4);
}

#randomConjugation {
	margin-top: 12%;
	margin-bottom: 5%;
	font-size: 35px;
}

input {
	display: block;
	margin: 0 auto;
	font-size: 30px;
	line-height: 50px;
	width: 35%;
	background-color: #84a283;
	border: inset 3px #623c51;
}

#randomConjugation, input {
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}

#feedback-message {
	display: none;
	text-align: center;
	color: #9f0f0f;
	font-size: 16px;
}
